In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r'/Users/sruti/Downloads/promo_data.csv')
df.head()

   emp_id  age  length_of_service  avg_training_score  awards_won  promotion
0       1   22                  2                  40           0          0
1       2   30                  7                  55           1          0
2       3   28                  8                  33           2          0
3       4   23                  3                  66           0          0
4       5   27                  5                  46           2          0

In [32]:

# # Save to CSV file
# df.to_csv('promo_data.csv', index=False)  # Set index=False to exclude row indices from the CSV

# # print(f"Excel file {excel_file_path} has been converted to CSV file {csv_file_path}.")

In [3]:
df = df.iloc[:,1:]

In [4]:
df.head()

   age  length_of_service  avg_training_score  awards_won  promotion
0   22                  2                  40           0          0
1   30                  7                  55           1          0
2   28                  8                  33           2          0
3   23                  3                  66           0          0
4   27                  5                  46           2          0

In [5]:
df.columns

Index(['age', 'length_of_service', 'avg_training_score', 'awards_won',
       'promotion'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 15 non-null     int64
 1   length_of_service   15 non-null     int64
 2   avg_training_score  15 non-null     int64
 3   awards_won          15 non-null     int64
 4   promotion           15 non-null     int64
dtypes: int64(5)
memory usage: 732.0 bytes

In [7]:
x = df.drop('promotion', axis=1)  # Features
y = df['promotion']  # Target variable

In [8]:
x

    age  length_of_service  avg_training_score  awards_won
0    22                  2                  40           0
1    30                  7                  55           1
2    28                  8                  33           2
3    23                  3                  66           0
4    27                  5                  46           2
5    22                  1                  55           0
6    30                  6                  10           2
7    28                  6                  70           1
8    23                  2                  15           0
9    27                  5                  66           1
10   33                 10                  99           7
11   35                 12                  33           8
12   40                 15                  44          11
13   33                 12                  66           8
14   55                 23                  11          17

In [9]:
y

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    1
Name: promotion, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [11]:
x_train

    age  length_of_service  avg_training_score  awards_won
8    23                  2                  15           0
2    28                  8                  33           2
1    30                  7                  55           1
14   55                 23                  11          17
4    27                  5                  46           2
7    28                  6                  70           1
10   33                 10                  99           7
12   40                 15                  44          11
3    23                  3                  66           0
6    30                  6                  10           2

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [13]:

# Now you can make predictions
predictions = model.predict(x_test)

In [14]:
predictions = model.predict([[55,30,10,5],[55,30,10,5]])
predictions

array([1, 1])

In [15]:
age = float(input())
length_of_service = float(input())
avg_training_score =float(input())
awards_won =  float(input())

 
target= ["not promoted", 'promoted']

result = model.predict([[age, length_of_service, avg_training_score, awards_won]])
#print(result)
#print(result[0])
print(f"Prediction = {target[result[0]]}")

10
10
10
10
Prediction = not promoted

In [16]:
import pickle

In [17]:
pickle.dump(model,open('logistic_model.pkl','wb'))